*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    background-color: black;
    color: white;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
#page>nav>a>img{
    width: 180px;
    height: 50px;
}
.notif{
    padding: 7px 20px;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
}
.notif:hover{
    background-color: rgb(215, 215, 215);
}
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#page-bottom{
    height: 20%;
    width: 25%;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    margin-bottom: 1vw;
}
#page-bottom>h1{
    font-size: 50px;
}



#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 4vw;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>video::after{
    width: 100%;
    height: 100%
}
#page2>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 500;
}


#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page3>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page3>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 500;
}



#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page4>img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page4-upper{
    height: 25%;
    width: 35%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page4-upper>img{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#page4-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    color: #ff823d;
}
#page4-upper-inner>h3{
    font-weight: 500;
    margin-top: 35px;
}
#page4-upper>h4{
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    margin-top: 300px;
    bottom: -3%;
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 160px;
    color: rgb(129, 129, 129);
}
#page4>a{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.4vw;
    text-decoration: none;
    color: black;
}
#page4>a:hover{
    background-color: #ff7830;
}



#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page5>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 500;    
}




#page6{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
.left6{
    position: relative;
    height: 100%;
    width: 50%;
}
.left6>h1{
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}
.right6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}
.right6>h3{
    font-size: 22px;
    width: 90%;
    color: #484848d7;
}
.right6>a{
    padding: 10px 20px;
    border: none;
    background-color: #ff5a01;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    text-decoration: none;
}
.right6>a:hover{
    background-color: #ff7830;
}


#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page7>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 500;    
}



#page8{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
}
.left8{
    position: relative;
    height: 100%;
    width: 50%;
}
.left8>h1{
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}
.right8{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
}
.right8>h3{
    font-size: 22px;
    width: 90%;
    color: #484848d7;
}
.right8>a{
    padding: 10px 20px;
    border: none;
    background-color: #ff5a01;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    text-decoration: none;
}
.right8>a:hover{
    background-color: #ff7830;
}


#page9{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page9>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}
#page9>h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page9>p{
    font-size: 1.2vw;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}




#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page10>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}



#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: #000;
}
#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: #000;
}
#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: #000;
}
#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page14>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page14>h1>span{
    color: #000;
}
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page15>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page15>h1>span{
    color: #000;
}
#page16{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page16>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page16>h1>span{
    color: #000;
}


#page17{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page17>h2{
    position: absolute;
    width: 50%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
}
#page17>h2>span{
    color: #000;
}
#page17>img{
    width: 60%;
    position: absolute;
    bottom: 0%;
}
#page17>a{
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #ff5a01;
    color: #fff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}
#page17>a:hover{
    background-color: #ff7830;
}
#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
#page18>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#page18>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}
#page18>p{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}
#page18>p>span{
    color: #fff;
}
#page19{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.left19{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}
.right19{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}
#page20{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
    background-color: rgb(0, 0, 0);
}
#page20>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vw;
}
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-page21{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}
#center-page21>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page22{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: white;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page22>h5{
    width: 40%;
}

#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page23>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page24{
    position: relative;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    color: black;
}
#page24>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}
#page24>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
    text-align: center;
}
#page24>p{
    font-size: 1.5vw;
    font-weight: 500;
    /* margin-bottom: 2vw; */
    color: #000000;
    width: 50%;
    text-align: center;
}
#page24>p>span{
    color: #ff5a01;
}
#page25{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page25>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page25>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#page26{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: black;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}
#page26>h5{
    width: 40%;
}
#page27{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page27>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page27{
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 18%;
    right: 5%;
    color: #fff;
}
#center-page27>h1{
    margin-bottom: 1.7vw;
}
